<app-header></app-header>

<main class="container">
  <h2>Nova Consulta</h2>

  <form [formGroup]="consultaForm">
    <mat-form-field>
      <mat-label>Especialidade</mat-label>
      <mat-select
        formControlName="especialidade"
        (selectionChange)="buscarMedicosPorEspecialidade($event.value)"
      >
        <mat-option
          *ngFor="let especialidade of especialidades"
          [value]="especialidade"
        >
          {{ especialidade.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Profissional</mat-label>
      <mat-select
        formControlName="profissional"
        (selectionChange)="buscarAgendaPorMedicos($event.value)"
      >
        <mat-option
          *ngFor="let medico of medicosPorEspecialidade"
          [value]="medico"
        >
          {{ medico.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dia</mat-label>
      <mat-select
        formControlName="dia"
        (selectionChange)="agendaSelecionada = $event.value"
      >
        <mat-option *ngFor="let agenda of agendaPorMedico" [value]="agenda">
          {{ agenda.dia }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!!agendaSelecionada">
      <mat-label>Horarios</mat-label>
      <mat-select formControlName="horario">
        <mat-option
          *ngFor="let horario of agendaSelecionada.horarios"
          [value]="horario"
        >
          {{ horario }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="buttons">
      <button (click)="criarConsulta()" [disabled]="consultaForm.invalid">
        Confirmar
      </button>
      <button routerLink="/consults">Cancelar</button>
    </div>
  </form>
</main>

<app-footer></app-footer>
