/* Header  */
@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: unset;
    width: 100%;
  }

  .mat-toolbar {
    background: #49b4bb;
  }
  .config-header img {
    width: 10rem;
  }

  .title h1 {
    display: flex;
    text-align: start;
    margin: 40px 0 20px 20px;
    color: #393a4a;
    font-weight: 500;
  }

  .config-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .config-card {
    width: 80%;
    border-radius: 10px;
    margin: 10px;
  }

  .config-colors {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .config-colors span {
    color: #49b4bb;
  }

  .config-colors h3 {
    color: #393a4a;
  }

  .config-colors span {
    color: #49b4bb;
  }

  .config-header-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
  }
  .config-header-card div {
    display: flex;
    justify-content: space-between;
  }

  .config-header-card div h3 {
    margin: 0;
    color: #393a4a;
  }

  .config-buttons-card {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e7e7ed;
  }

  .config-buttons-card button {
    display: flex;
    align-items: center;
    color: #6b6c7e;
    border: none;
    background: none;
  }

  .config-buttons-card button span {
    margin-right: 9px;
  }
}

@media (min-width: 769px) {
  .desktop {
    display: unset;
  }

  .mobile {
    display: none;
  }

  .container-header {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px 0;
  }

  .content {
    display: flex;
    justify-content: space-between;
  }

  .content span img {
    cursor: pointer;
    outline: 0;
  }

  .spacer {
    display: flex;
  }

  .spacer h4 {
    margin-right: 60px;
    color: #a8a8a8;
    font-size: 18px;
    line-height: 16px;
  }

  .spacer a {
    text-decoration: none;
    outline: 0;
    border: 0;
    color: #49b4bb;
    font-size: 18px;
    line-height: 16px;
    cursor: pointer;
  }

  mat-toolbar-row span img {
    width: 40%;
    height: 15%;
  }

  /* Header tabela */

  .content-table {
    display: flex;
    flex-direction: column;
  }

  .header-table {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: 25px auto;
    justify-content: space-between;
  }

  .header-table h2 {
    font-weight: bold;
    font-size: 26px;
    color: #444444;
  }

  .header-table button {
    width: 180px;
    height: 40px;
    border-radius: 8px;
    background: #49b4bb;
    border: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-table button span {
    color: #ffffff;
    margin-left: 12px;
  }
  /* Tabela */

  table {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

  table th {
    text-align: center;
    width: 250px;
  }
  table tr {
    text-align: center;
    width: 150px;
  }

  table td span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  table td button {
    border: 0;
    background: none;
    color: #49b4bb;
    cursor: pointer;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  table td button span {
    border: 0;
    background: none;
    color: #49b4bb;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    margin-left: 15px;
    font-size: 17px;
  }

  footer {
    display: none;
  }
}
