<div class="container">
  <h2>Nova Consulta</h2>

  <form>
    <mat-form-field>
      <mat-label>Profissional</mat-label>
      <mat-select name="medico">
        <mat-option *ngFor="let med of medico" [value]="med">
          {{ med.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Profissional</mat-label>
      <mat-select name="medico">
        <mat-option *ngFor="let med of medico" [value]="med">
          {{ med.especialidade }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="buttons">
      <button mat-dialog-close>Cancelar</button>
      <button mat-dialog-close>Confirmar</button>
    </div>
  </form>
</div>
