/* Header  */

.mat-toolbar {
  background: #49b4bb;
}

.config-toolbar {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.config-toolbar button {
  background: none;
  border: 0;
  color: #ffffff;
  margin-right: 15px;
}

.config-toolbar button {
  background: none;
  border: 0;
}

.title h1 {
  display: flex;
  text-align: start;
  margin: 40px 0 20px 20px;
  color: #393a4a;
  font-weight: 500;
}

.config-main {
  margin: 40px 0 20px 20px;
}

.buttons {
  height: 40px;
  width: 100%;
  border-radius: 8px;
  background: #ffffff;
  border: 0;
  color: #49b4bb;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
}
