<footer class="config-footer">
  <ul class="config-list">
    <li class="active">
      <button>
        <mat-icon routerLinkActive routerLink="/consults">home</mat-icon>
        <p>Início</p>
      </button>
    </li>
    <li>
      <button routerLink="/register-consult">
        <mat-icon>add_circle_outline</mat-icon>
        <p>Nova consulta</p>
      </button>
    </li>
    <li>
      <button>
        <mat-icon>person_outline</mat-icon>
        <p>Perfil</p>
      </button>
    </li>
  </ul>
</footer>
